html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: gray;
}

.main {
  width: 100vw;
}

.main h1 {
  /*position: relative;*/
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.main .content {
  display: flex;
  justify-content: center;
}

.main canvas {
  margin: 10px;
  border: 1px solid black;
  background-color: white;
}

.main .menu {
  margin: 10px;
  height: 85vh;
  width: 30%;
  top: 10%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BFBEBE;
}

.menu-btn {
  font-size: 20px;
  padding: 5px;
  border: 1px solid black;
  width: 75%;
  margin: 10px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu-btn:disabled {
  opacity: 0.5;
}

.menu-btn[disabled]:hover {
  background-color: Transparent;
}
.menu-btn:hover {
  background-color: white;
}
