html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: gray;
}

.main {
  width: 100vw;
}

.main h1 {
  /*position: relative;*/
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.main .content {
  display: flex;
  justify-content: center;
}

.main canvas {
  margin: 10px;
  border: 1px solid black;
  background-color: white;
}

.main .menu {
  margin: 10px;
  height: 85vh;
  width: 30%;
  top: 10%;
  border: 1px solid black;
  background-color: #BFBEBE;
  overflow-y: auto;
}

.menu-btn {
  font-size: 20px;
  padding: 5px;
  border: 1px solid black;
  width: 75%;
  margin: 10px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu-btn:disabled {
  opacity: 0.5;
}

.menu-btn[disabled]:hover {
  background-color: Transparent;
}
.menu-btn:hover {
  background-color: white;
}

#ball-generator-menu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"] {
  background-color: white;
  text-align: center;
  padding: 3px;
  width: 30%;
  margin: 3px;
}

#portal-menu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#place-portal-txt {
  font-size: 25px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-items-wrapper {
  display: flex;
  justify-content: center;
  width: 85%;
}

.remove-items-wrapper button {
  width: 100%;
}

.bottom-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 120px;
}

#play-btn {
  background-color: green;
}

#play-btn.active, #demo-btn.active {
  background-color: red;
}

#play-btn:hover, #demo-btn:hover  {
  background-color: white;
}

#demo-btn {
  background-color: teal;
}

.top-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
