.menu-detail {
  display: none;
  position: absolute;
  top: 126px;
  right: 44px;
  width: 25%;
  height: 555px;
  border: 1px solid black;
  background-color: #BFBEBE;
  z-index: 2;
}

.menu-detail-content {
  text-align: center;
}

.menu-detail-content > h3 {
  font-size: 30px;
}

.menu-detail-content > h4 {
  border-bottom: 1px solid black;
}

.menu-detail-content > canvas {
  margin: 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
